:root {
  --main-light-clr-tx: #ffffff;
  --light-clr-tx: #9da4bd;
  --main-dark-clr-tx: #303030;
  --dark-clr-tx: #555555;
  --accent-clr-tx: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.up-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.under-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/*------------------------HEADER-----------------------*/
.header {
  background-color: darkgrey;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-clr-tx);
}

.header-link:hover,
.header-link:focus,
.header-tel:focus,
.header-tel:hover {
  color: var(--accent-clr-tx);
}

.header-btn {
  color: var(--main-clr-tx);
  background-color: darkgrey;
}

/*--------------------------HERO---------------------*/

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-clr-tx);
}

.hero-content {
  background-color: #303030;
}

.hero-up-text {
  color: var(--light-clr-tx);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-clr-tx);
}

.hero-under-text {
  color: var(--light-clr-tx);
}

/*-------------------------------ABOUT----------------------------*/

.about-up-text,
.about-title {
  color: var(--main-dark-clr-tx);
}

.about-under-text {
  color: var(--dark-clr-tx);
}

.about-text {
  color: var(--dark-clr-tx);
}

/*------------------------------PRICE------------------------------*/
